@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html, body{
    scroll-behavior: smooth;
    height: 100%;
    font-size: 16px;
}

nav {
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px) brightness(0.95);
    border-bottom: 2px solid #9e9898;
    z-index: 10;
}

nav .title a.hidden{
    transform: translateX(-3rem);
    opacity: 0;
    transition: transform 1s ease;
}

nav .title a.display{
    display: block;
    margin-left: 1rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    background-image: url(../../Assets/MainAssets/Photos/titleFont.jpg);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-decoration: none;
    transform: translateX(0);
    opacity: 1;
    transition: transform 1.25s ease, opacity 1s ease;
}

nav .subpages {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .subpages a{
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: #9e9898;
    position: relative;
    transition: color 0.5s ease;
}

nav .subpages a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #ec6e0e;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;
}

nav .subpages a:hover{
    color: #ec6e0e;
}

nav .subpages a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


.title-container {
    width: 100%;
    height: 100%;
    background: url(../../Assets/TrygonometriaAssets/titleBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container h1{
    font-size: 4rem;
    font-weight: 600;
    font-family: Raleway;
    background-image: url(../../Assets/MainAssets/Photos/titleFont.jpg);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.title-container .button{
    margin-top: 10rem;
}

.title-container .button a{
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: 600;
    color: #9e9898;
    padding: 2rem 3rem;
    border: 2px solid #9e9898;
    border-radius: 70px;
    transition: border-color 0.7s ease, color 0.7s ease, background-color 0.7s ease;
}

.title-container .button a:hover{
    border-color: white;
    color: white;
    background-color: rgba(192, 192, 192, 0.2);
}

.main {
    position: relative;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 16rem;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    background: url(../../Assets/TrygonometriaAssets/mainBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 16rem;
}

.main .first-info{
    width: 80%;
    height: 35rem;
    border: 5px solid #c85a05;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0f1314;
}

.main .first-info .text {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -3rem;
}

.main .first-info .text h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #c85a05;
}

.main .first-info .text a{
    text-decoration: none;
    color: red;
}

.main .first-info .text h3{
    margin-left: 1rem;
    font-size: 1.3rem;
    color: white;
}

.main .first-info .image{
    margin-right: -3rem;
    height: 70%;
    width: 40%;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #c85a05;
}

.main .first-info .image img{
    width: 100%;
    height: 100%;
}

.hidden {
    opacity: 0;
    transform: translateX(-5rem);
    transition: opacity 0.7s ease, transform 1.25s ease;
}

.shown {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1s ease, transform 1.25s ease;
}

.main .buttons {
    display: none; 
}
  
.main .buttons .up {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    border: 3px solid rgba(200, 90, 5, 0.8);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    background-color: rgba(200, 90, 5, 0.2);
    cursor: pointer;
    transition: width 0.3s ease; 
    overflow: hidden; 
    z-index: 100;
}

.main .buttons .up i {
    color: white;
    font-size: 2rem;
}

.main .buttons .up .button-text {
    opacity: 0;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-size: 1.5rem;
    transition: width 0.3s ease, opacity 0.3s ease;
    margin-left: 0;
}

.main .buttons .up:hover {
    width: 12rem; 
}

.main .buttons .up:hover .button-text {
    width: 6rem;
    opacity: 1;
    margin-left: 1rem; 
}

.main .next {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(200, 90, 5, 0.8);
    border-radius: 50px;
    background-color: rgba(200, 90, 5, 0.2);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.4s ease;
    z-index: 100;
}

.main .next a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.main .next .button-text {
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-size: 1.5rem;
    transition: opacity 0.4s ease, margin-right 0.4s ease;
}

.main .next i {
    color: white;
    font-size: 2rem;
    margin-left: -12.5rem;
    transition: margin-left 0.4s ease;
}

.main .next:hover {
    width: 20rem;
}

.main .next:hover .button-text {
    opacity: 1;
    margin-right: 10px;
}

.main .next:hover i {
    margin-left: 10px;
}

.main .operationForm-wrapper {
    height: 25rem;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.main .operationForm-wrapper .label {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -2rem;
    margin-left: -8rem;
    z-index: 2;
}

.main .operationForm-wrapper .label h1{
    color: #c85a05;
    background-color: #0f1314;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: 2px solid #c85a05;    
}

.main .operationForm-wrapper .operationForm{
    height: 30rem;
    width: 100%;
    background-color: #0f1314;
    border-radius: 100px;
    border: 5px solid #c85a05; 
    display: flex;
    align-items: center; 
}

.main .operationForm-wrapper .operationForm form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main .operationForm-wrapper .operationForm h1 {
    margin-left: 3rem;
    margin-right: 3rem;
    color: white;
    display: flex;
    justify-content: center;
}

.main .operationForm-wrapper .operationForm p {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.3rem;
}

.main .operationForm-wrapper .operationForm input[type="text"] {
    outline: none;
    border: none;
    height: 3rem;
    width: 20rem;
    color: white;
    font-size: 2rem;
    text-align: center;
    background-color: #0f1314;
    border-bottom: 2px solid #c85a05;
}

.main .operationForm-wrapper .operationForm input[type="text"]:focus {
    background-color: #0f1314;
}

.main .operationForm-wrapper input[type="submit"] {
    background-color: #0f1314;
    color: #c85a05;
    height: 6rem;
    width: 15rem;
    font-size: 2rem;
    font-weight: 600;
    border: 3px solid #c85a05;  
    border-radius: 50px;
    margin-top: -3rem;
    z-index: 2;
    margin-left: 70rem;
    transition: transform 0.7s ease;
    cursor: pointer;
}

.main .operationForm-wrapper input[type="submit"]:hover{
    transform: scale(1.15);
}

.main .finisher{
    height: 8rem;
    width: 80%;
    border: 3px solid #c85a05;
    border-radius: 70px;
    background-color: #0f1314;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.main .big-form-wrapper {
    height: 25rem;
    width: 80%;
}

.main .big-form-wrapper .label {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -2rem;
    margin-left: -10rem;
    z-index: 5; 
}

.main .big-form-wrapper .label h1{
    color: #c85a05;
    background-color: #0f1314;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: 2px solid #c85a05;    
}

.main .big-form-wrapper .big-form {
    width: 100%;
    height: 20rem;
    background-color: #0f1314;
    border: 5px solid #c85a05;
    border-radius: 100px;
}

.main .big-form-wrapper .big-form form {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    color: white;
}

.main .big-form-wrapper .big-form form h1 {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    font-size: 2rem;
}

.main .big-form-wrapper .big-form form input[type="text"] {
    font-size: 2rem;
    width: 15rem;
    background-color: #0f1314;
    outline: none;
    border: none;
    border-bottom: 2px solid #ec6e0e;
    color: white;
    text-align: center;
}

.main .big-form-wrapper form input[type="submit"] {
    background-color: #0f1314;
    color: #c85a05;
    height: 6rem;
    width: 15rem;
    font-size: 2rem;
    font-weight: 600;
    border: 3px solid #c85a05;  
    border-radius: 50px;
    margin-top: -3rem;
    z-index: 2;
    margin-left: 70rem;
    transition: transform 0.7s ease;
    cursor: pointer;
}

.main .big-form-wrapper form input[type="submit"]:hover {
    transform: scale(1.15);
}

.main .big-form-wrapper .big-form form .text {
    font-size: 2rem;
}

#p1 {
    margin-left: -7rem;
}

.main .first-info.shown .text h1[name="specBox"] {
    margin-left: 1rem;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    #atang {
        margin-left: 1rem;
    }

    #powe {
        margin-left: -2rem;
    }

    #p1 {
        margin-left: -6rem;
    }

    #ptr {
        margin-left: 3rem;
    }

    body {
        overflow-x: hidden;
    }

    nav {
        width: 100%;
    }

    nav .subpages {
        width: 80%;
        gap: 1rem;
    }

    nav .subpages a {
        font-size: 1.5rem;
    }

    nav .title a.display{
        font-size: 1.5rem;
    }

    .title-container {
        width: 100%;
    }

    .title-container .text {
        text-align: center;
    }

    .first-info.shown {
        height: 30rem;
        width: 95%;
    }

    .first-info.shown .text.shown h1 {
        font-size: 2rem;
        margin-left: -13rem;
    }

    .first-info.shown .text.shown h3{
        font-size: 1rem;
        
    }

    .operationForm-wrapper.shown {
        width: 100%;
    }

    .operationForm-wrapper.shown .label {
        margin-left: 5%;
    }

    .operationForm-wrapper.shown input[type="submit"] {
        margin-left: 70%;
    }

    .main .first-info .text h1[name="tanBox"] {
        margin-left: -1rem;
    }

    .finisher.shown {
        width: 100%;
        font-size: 1.1rem;
        text-align: center;
    }

    #big {
        width: 100%;
        margin-left: -0.5rem;
    }

    #scos {
        width: 100%;
        margin-left: -12rem;
    }

    #use {
        margin-left: 3rem;
    }

    .big-form-wrapper.shown {
        width: 100%;
    }

    .big-form-wrapper.shown .label {
        margin-left: 2%;
    }

    .big-form-wrapper.shown .big-form.shown {
        width: 100%;
    }

    #btn {
        margin-left: 43rem;
    }

    #mdif {
        margin-left: 1rem;
    }

    #rev {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {

    #powe {
        margin-left: -6rem;
    }

    #atang {
        margin-left: 1rem;
    }

    #ptr {
        margin-left: 1rem;
    }

    #tang {
        margin-left: -4rem;
    }

    body {
        overflow-x: hidden;
    }

    nav {
        width: 100%;
    }

    nav .subpages {
        width: 50%;
        
    }

    nav .subpages a {
        font-size: 1.8rem;
    }

    nav .title a.display{
        font-size: 1.8rem;
    }

    .title-container {
        width: 100%;
    }

    .title-container .text {
        text-align: center;
    }

    .first-info.shown {
        height: 30rem;
        width: 80%;
    }

    .first-info.shown .text.shown h1 {
        font-size: 2rem;
        margin-left: -13rem;
    }

    .first-info.shown .text.shown h3{
        font-size: 1rem;
        
    }

    .operationForm-wrapper.shown {
        width: 80%;
    }

    .operationForm-wrapper.shown .label {
        margin-left: 5%;
    }

    .operationForm-wrapper.shown input[type="submit"] {
        margin-left: 70%;
    }

    .main .first-info .text h1[name="tanBox"] {
        margin-left: -1rem;
    }

    .finisher.shown {
        width: 85%;
        font-size: 1.1rem;
        text-align: center;
    }

    #big {
        width: 100%;
        margin-left: -0.5rem;
    }

    #use {
        margin-left: 1rem;
    }

    #scos {
        width: 100%;
        margin-left: -12rem;
    }

    .big-form-wrapper.shown {
        width: 80%;
    }

    .big-form-wrapper.shown .label {
        margin-left: 2%;
    }

    .big-form-wrapper.shown .big-form.shown {
        width: 100%;
    }

    #btn {
        margin-left: 43rem;
    }

    #mdif {
        margin-left: 0rem;
    }

    #p1 {
        margin-left: -10rem;
    }

    #rev {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1875px) and (max-width: 2559px) {
    .first-info.shown .text.shown h1 {
        font-size: 2.5rem;
    }

    #p1 {
        margin-left: -14rem;
    }

    #scos {
        width: 100%;
        margin-left: -22rem;
    }

    #powe {
        margin-left: -9rem;
    }

    #mdif {
        margin-left: -2rem;
    }

    #tang {
        margin-left: -7rem;
    }
}

@media screen and (min-width: 2560px) {
    #p1 {
        margin-left: -27rem;
    }

    #powe {
        margin-left: -23rem;
    }

    #use {
        margin-left: 1rem;
    }

    #tang {
        margin-left: -20rem;
    }

    #atang {
        margin-left: -14rem;
    }

    body {
        overflow-x: hidden;
    }

    nav {
        width: 100%;
    }

    nav .subpages {
        width: 50%;
        
    }

    nav .subpages a {
        font-size: 2rem;
    }

    nav .title a.display{
        font-size: 2rem;
    }

    .title-container {
        width: 100%;
    }

    .title-container .text {
        text-align: center;
    }

    .first-info.shown {
        height: 30rem;
        width: 80%;
    }

    .first-info.shown .text.shown h1 {
        font-size: 2rem;
    }

    .first-info.shown .text.shown h3{
        font-size: 1rem;
        
    }

    .operationForm-wrapper.shown {
        width: 80%;
    }

    .operationForm-wrapper.shown .label {
        margin-left: -12%;
    }

    .operationForm-wrapper.shown input[type="submit"] {
        margin-left: 80%;
    }

    .main .first-info .text h1[name="tanBox"] {
        margin-left: -1rem;
    }

    .finisher.shown {
        width: 85%;
        font-size: 1.5rem;
        text-align: center;
    }

    #big {
        width: 100%;
        margin-left: -25rem;
    }

    #scos {
        width: 100%;
        margin-left: -42rem;
    }

    .big-form-wrapper.shown {
        width: 80%;
    }

    .big-form-wrapper.shown .label {
        margin-left: 2%;
    }

    .big-form-wrapper.shown .big-form.shown {
        width: 100%;
    }

    

    #btn {
        margin-left: 80%;
    }

    #mdif {
        margin-left: -16rem;
    }

    #ptr {
        margin-left: -10rem;
    }

    #rev {
        margin-left: -16rem;
    }
}