@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html, body{
    scroll-behavior: smooth;
    height: 100%;
    font-size: 16px;
}

body::-webkit-scrollbar {
    display: none;
}


nav {
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px) brightness(0.95);
    border-bottom: 2px solid #9e9898;
    z-index: 10;
}

nav .title a.hidden{
    transform: translateX(-3rem);
    opacity: 0;
    transition: transform 1s ease;
}

nav .title a.display{
    display: block;
    margin-left: 1rem;
    text-decoration: none;
    font-size: calc(0.8rem + 1vw);
    font-weight: 600;
    background-image: url(../../Assets/MainAssets/Photos/titleFont.jpg);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-decoration: none;
    transform: translateX(0);
    opacity: 1;
    transition: transform 1.25s ease, opacity 1s ease;
}

nav .subpages {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .subpages a{
    text-decoration: none;
    font-size: calc(0.8rem + 1vw);
    font-weight: 500;
    color: #9e9898;
    position: relative;
    transition: color 0.5s ease;
}

nav .subpages a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #fd2ef6;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;
}

nav .subpages a:hover{
    color: #fd2ef6;
}

nav .subpages a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.title-container {
    width: 100%;
    height: 100%;
    background: url(../../Assets/EulerAssets/titleBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container h1{
    font-size: 4rem;
    font-weight: 600;
    font-family: Raleway;
    background-image: url(../../Assets/MainAssets/Photos/titleFont.jpg);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

.title-container .button{
    margin-top: 10rem;
}

.title-container .button a{
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: 600;
    color: #9e9898;
    padding: 2rem 3rem;
    border: 2px solid #9e9898;
    border-radius: 70px;
    transition: border-color 0.7s ease, color 0.7s ease, background-color 0.7s ease;
}

.title-container .button a:hover{
    border-color: white;
    color: white;
    background-color: rgba(192, 192, 192, 0.2);
}

.main {
    position: relative;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 16rem;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    background: url(../../Assets/EulerAssets/mainBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 16rem;
}

.main .first-info{
    width: 80%;
    height: 55vh;
    border: 5px solid #fd2ef6;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #13010f;
}

.main .first-info .text {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.main .first-info .text h1{
    font-size: calc(1.5rem + 1vw);
    color: #fd2ef6;
}

.main .first-info .text a{
    text-decoration: none;
    color: red;
}

.main .first-info .text h3{
    font-size: calc(0.7rem + 0.5vw);
    color: white;
}

.main .first-info .image{
    height: 70%;
    width: min(50%, 600px);
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #fd2ef6;
}

.main .first-info .image img{
    width: 100%;
    height: 100%;
}

.hidden {
    opacity: 0;
    transform: translateX(-5rem);
    transition: opacity 0.7s ease, transform 1.25s ease;
}

.shown {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1s ease, transform 1.25s ease;
}

.main .buttons {
    display: none; 
}
  
.main .buttons .up {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    border: 3px solid rgba(253, 46, 246, 0.6);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    background-color: rgba(253, 46, 246, 0.2);
    cursor: pointer;
    transition: width 0.3s ease; 
    overflow: hidden; 
    z-index: 100;
}

.main .buttons .up i {
    color: white;
    font-size: 2rem;
}

.main .buttons .up .button-text {
    opacity: 0;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-size: 1.5rem;
    transition: width 0.3s ease, opacity 0.3s ease;
    margin-left: 0;
}

.main .buttons .up:hover {
    width: 12rem; 
}

.main .buttons .up:hover .button-text {
    width: 6rem;
    opacity: 1;
    margin-left: 1rem; 
}

.main .next {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(253, 46, 246, 0.6);
    border-radius: 50px;
    background-color: rgba(253, 46, 246, 0.2);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.4s ease;
    z-index: 100;
}

.main .next a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.main .next .button-text {
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-size: 1.5rem;
    transition: opacity 0.4s ease, margin-right 0.4s ease;
}

.main .next i {
    color: white;
    font-size: 2rem;
    margin-left: -12.5rem;
    transition: margin-left 0.4s ease;
}

.main .next:hover {
    width: 20rem;
}

.main .next:hover .button-text {
    opacity: 1;
    margin-right: 10px;
}

.main .next:hover i {
    margin-left: 10px;
}


@media (max-width: 1439px) {
    .main .first-info {
        height: 65vh;
        width: 100%;
    }

    nav .subpages {
        width: 80%;
        gap: 1rem;
    }

}