@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html, body{
    scroll-behavior: smooth;
    height: fit-content;
    font-size: 16px;
}

.displayer::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url(../Assets/SourcesAssets/sources.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px) brightness(0.95);
    border-bottom: 2px solid #9e9898;
    z-index: 10;
    
}

nav .title a.hidden{
    transform: translateX(-3rem);
    opacity: 0;
    transition: transform 1s ease;
}

nav .title a.display{
    display: block;
    margin-left: 1rem;
    text-decoration: none;
    font-size: calc(0.8rem + 1vw);
    font-weight: 600;
    background-image: url(../../Assets/MainAssets/Photos/titleFont.jpg);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-decoration: none;
    transform: translateX(0);
    opacity: 1;
    transition: transform 1.25s ease, opacity 1s ease;
}

nav .subpages {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .subpages a{
    text-decoration: none;
    font-size: calc(0.8rem + 1vw);
    font-weight: 500;
    color: #9e9898;
    position: relative;
    transition: color 0.5s ease;
}

nav .subpages a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;
}

nav .subpages a:hover{
    color: white;
}

nav .subpages a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.displayer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.displayer .scrolling-content .about {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.displayer .about h1 {
    font-size: calc(1rem + 1vw);
    font-weight: 400;
    margin-bottom: 1rem;
}

.displayer .about span {
    font-weight: 600;
}


.displayer .sources {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
    text-align: center;
}

.displayer .sources a {
    color: white;
}

.displayer .sources h1 {
    font-size: calc(1rem + 1vw);
    font-weight: 400;
}

.displayer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.scrolling-content {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: scroll-up 5s linear forwards;
    will-change: transform;
}

@keyframes scroll-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}


@media (max-width: 1439px) {
    nav .subpages {
        width: 80%;
        gap: 1rem;
    }

}

@media (max-height: 800px) {
    .displayer .sources, .displayer .about {
        gap: 0;
    }
}